.alert.alert-success, .alert.alert-warning {
    margin-top: 25px;
}
.social-float, .dropdown.open > ul > li > a {
    font-weight: bold;
    font-size: 8pt;
}
#app-navbar-collapse > ul > li.active > a {
    padding-top: 15px;
    padding-bottom: 16px;
    background-color: #e0e0e0;
}
div, p {
    word-wrap: break-word;
}
textarea {
    overflow:hidden;
}
label{
    margin-bottom:0;
}
.li-footer-fa:link, .li-footer-fa:visited {
    color: grey;
}
.li-footer-fa:hover {
    color: white;
}
div.panel-body>ul >li>a:link, p>a:link, div.panel-body>ul >li>a:hover, p>a:hover {
    color: #8eb4cb;
    font-weight: bold;
    text-decoration: none;
}
div.panel-body>ul >li>a:visited, p>a:visited {
    text-decoration: none;
    color: #8eb4cb;
    font-weight: bold
}

div.panel-body>ul >li>a:active, p>a:active {
    text-decoration: none;
}
#logo{
    max-height: 160%;
    margin-bottom: 5px;
}
#logout-form{
    display: none;
}
#app {
    background-color: #f5f5f5;
}

.col-sm-6.text-right {
    width: 50%;
    line-height: 60px;
}
#footer > div > div > div:nth-child(1) > div {
    line-height: 60px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #0e1015;
}
#footer > div{
    margin-left: 90px;
    margin-right: 5px;
}
#footer > div > div > div.col-sm-6.text-right > nav > ul > li:nth-child(7) > a > i{
    padding-left: 40px;
}
html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: #f5f5f5;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: sans-serif, Arial;
}
#app > div > div > div > div.panel-heading, #app > div > div > div > div > div.panel-heading {
    background-color: #e0e0e0;
}
#app > div > div > div > div.panel-body, #filter-panel > div > div {
    background-color:  #f5f5f5;
}